REACT_APP_MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoic3RlcGhlbm0yMjUiLCJhIjoiY2xvbHB5NTI0MjhodjJrbzFuamd2M2s1OCJ9.sctfQBx-ehAw4oreP4So2g
REACT_APP_INITIAL_MAP_LOCATION=us_mid
REACT_APP_API_URL=http://localhost:3001